.wf_body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #F1F1F1;
	margin: 0px;
}

.datatable_area {
	width:515px;
	height:150px;
	overflow: scroll;
}


.list-row-even { 
}

.list-row-odd { 
  background-color: #FFFFFF;
}

.moduleManagerColumnClass {
	font-size: 12;
    text-align: right;
    height: 14;
}

.moduleManagerBigColumnClass {
	width: 50%;
	font-size: 12;
    text-align: left;
}

.moduleManagerHeaderClass {
	width: 25%;
	font-size: 12;
    text-align: center;
    background-color: #A7A7A7;
}